@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

/* Custom CSS Utilities */

.comp-padding-x {
  @apply p-35;
}

.work-item-utility {
  @apply flex flex-row px-15 pt-15 *:w-1/2;
}

.hover-effect-utility-child > * {
  @apply transition duration-400 ease-in;
}

.hover-effect-utility-child > *:hover {
  @apply text-white scale-105 
  rotate-x-5 -rotate-y-5;
}
